<a href="https://colab.research.google.com/github/INFlive/Python/blob/main/Chap3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
expenses = [1138, 101, 12, 300, 2049]
print(sum(expenses))

3600

In [2]:
expenses = [1138, 101, 12, 300, 2049]
print(expenses[0]) #索引從0開始
print(expenses[1])
print(expenses[-1]) #倒數第一個
print(expenses[-2])

1138
101
2049
300

In [3]:
my_list0 = [] #空串列
my_list1 = list() 
my_list2 = ['python', 'javascript', 'C#']
print(my_list2[0])

python

In [4]:
my_list2 = ['python', 'javascript', 'C#']
print(len(my_list2))
print(len(my_list2[0]))

3
6

In [5]:
my_list2 = ['python', 'javascript', 'C#']
my_list2.append('java')
print(my_list2)

['python', 'javascript', 'C#', 'java']

In [6]:
my_list2 = ['python', 'javascript', 'C#']
my_list2.insert(1,'java')
print(my_list2)

['python', 'java', 'javascript', 'C#']

In [7]:
my_list2 = ['python', 'javascript', 'C#']
my_list2.remove('python') #移除指定元素
print(my_list2)
del my_list2[-1] #刪除指定位置的元素
print(my_list2)
my_list2.clear() #清除全部
print(my_list2)

['javascript', 'C#']
['javascript']
[]

In [8]:
a=[1,2]
print(a*5)

[1, 2, 1, 2, 1, 2, 1, 2, 1, 2]

In [9]:
a=[1,2,3,4,5,6,7,8,9]
b=a[0:3] #範圍取值，0,1,2不包含3
print(b)
c=a[0:9:2] #間隔2取值
print(c)
d = a[0: ]
print(d)
e = a[ :9]
print(e)
f = a[:] #取全部值
print(f)

[1, 2, 3]
[1, 3, 5, 7, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
a=[1,2,3,4,5,6,7,8,9]
del a[7:9] #刪除某範圍值, 7, 8
print(a)
print(min(a)) #最小值
print(max(a)) #最大值
print(a.index(1)) #找出1所在的第一個索引值
b=[1,0,0,1,1,1]
print(b.count(1)) #1出現的次數
a.reverse() #串列反轉
print(a)
a.sort() #串列由小到大排序,a的值會被改變
print(a)

[1, 2, 3, 4, 5, 6, 7]
1
7
0
4
[7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7]

In [11]:
expenses = [1138, 101, 12, 300, 2049]
s=sorted(expenses) #expenses的值不會變
print(s, expenses)

[12, 101, 300, 1138, 2049] [1138, 101, 12, 300, 2049]